name = "RiemannianSSMs"
uuid = "2a6b6a9a-ad85-4cf8-8cda-b21ac2480253"
authors = ["Tim Hargreaves"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
